@import "tailwindcss";
@font-face {
    font-family: "Bangkahulu";
    src: url("/bangkahulu.ttf") format("truetype");
}

/* Terapkan font Bangkahulu untuk elemen dengan lang="rejang" */
.rejang {
    font-family: "Bangkahulu", sans-serif;
    font-size: 2vw;
}
button,
select {
    cursor: pointer;
}
